
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
venv/
.venv/

# Data files
data/raw/*.csv
data/staging/*.csv
data/processed/*.csv

# Keep JSON reports if required
!data/staging/*.json
!data/processed/*.json


# Logs
logs/
*.log

# Database / Docker
postgres_data/
*.db

# Jupyter / IDE
.ipynb_checkpoints/
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Test & coverage
.coverage
htmlcov/

